body {
    background-image: url("images/menuBackground.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #FFE450;
    font-family: "Rubik";
}

h3 {
    color: white;
}

p {
    color: black;
}

h2 {
    color: white;
    text-align: center;
    font-size: 30px;
}

input {
    font-size: 20px;
}

#bigBox {
    height: 200px;
    width: 400px;
    
}

button {
    width: 300px;
    height: 150px;
    margin: 10px;
    font-size: 20px;
    font-weight: 1000;
    background: #0090EA;
    border: none;
    border-radius: 20px;
}

button:hover{
    box-shadow: 6px 10px 22px -13px rgba(0,0,0,0.75);
    
}

#buttons {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*Box Font Colors*/
#book {
    color:#17FFAF;;
}
#about {
    color:#FFE450;
}
#suggestions {
    color:coral;
}
#apply {
    color:orange;
}
#fish {
    color:white;
}
#water {
    color:lawngreen;
}
